*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:rgb(2, 1, 31);
}

.about {
    padding-top: 40px;
    padding-bottom: 40px;
    background: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
}

.bubbles{
    position: relative;
    display: flex;

}

.bubbles span{
    position :relative;
    width: 30px;
    height: 15px;
    background: #4fc3dc;
    margin: 0px 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite ;
    animation-duration: calc(190s/var(--i));
    z-index: -1;

}

.bubbles span:nth-child(even){
    background: #eeff00;
    box-shadow: 0 0 0 10px #ff000044,
    0 0 50px #eeff00,
    0 0 100px #eeff00;
}

@keyframes animate{
    100%{
        transform: translateY(200vh) scale(0);
    }
    50%{
        transform: translateY(100vh) scale(0.5);
    }
    0%{
        transform: translateY(-10vh) scale(1);
    }
} 

.about .about-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;

}

.about .image {
    width: 30%;
    margin-left: 40px;
    margin-top: 40px;
    animation: up-and-down 1s linear infinite;
} 

 @keyframes up-and-down{
    0%,100%{
        top:0;
    }
    50%{
        top:-40px;
    }
}
.about .text {
    width: 60%;
    margin-left: 100px;
    padding-top: 0px;
}

.about .text p {
    padding-left: 10px;
    color: rgb(228, 222, 222);
    line-height: 1.3;
}

.about .image img {
    width: 540px;
    height: 450px;
}

@media (max-width: 1115px) {
    .about .image img {
        width: 500px;
        height: 420px;
    }
    .text{
        width: 500;
        height: 420px;
    }
}

@media (max-width: 991px) {
    .about .image img {
        width: 500px;
        height: 400px;
    }

    .text{
        width: 500px;
        height: 400px;
    }

    .about .about-container {
        margin: auto;
        padding-left: 50px;
    }
}

@media (max-width: 767px) {
    .about .image img {
        width: 370px;
        height: 350px;
    }

    .about .text {
        margin-left: 180px;
        width: 370px;
        height: 350px;
    }

    .about .image {
        margin-left: 180px;
    }

    .about .about-container {
        padding-left: 0;
    }
}

@media (max-width: 600px) {
    .about .image img {
        width: 300px;
        height: 300px;
    }

    .about .text{
        width: 300px;
        height: 300px;
        margin: 0 0 0 100px;
    }
    .about .image {
        margin: 0 0 0 100px;
    }

    .about .about-container {
        padding-left: 0;
    }
}

@media (max-width: 420px) {
    .about .image img {
        width: 300px;
        height: 300px;
    }

    .about .text{
        width: 300px;
        height: 300px;
        margin: 0 0 0 15px;
    }
    .about .image {
        margin: 0 0 0 15px;
    }

    .about .text {
        margin: 0 60px;
    }

    .about .about-container {
        padding-left: 0;
    }
}

@media (max-width: 300px) {
    .about .image img {
        width: 200px;
        height: 240px;
    }

    .about .text p {
        padding: 0;
        width: 200px;
        height: 240px;
    }
}

h1{
    font-size: 40px;
    font-weight: bold;
    color:White;
    margin-top: 20px;
}

p{
    margin-top: 30px;
    color:rgb(232, 229, 229);
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    bottom: -37px;
    background-color: #02011f;

}

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-size: 40px;
    margin-bottom: 70px;
    position: relative;
    color:white;
    font-weight: bold;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 134px;
    background-color: rgb(255, 255, 255);
    bottom: -30px;

}

@media (max-width:900px) {

    
}